<h2 mat-dialog-title>Product details</h2>
<mat-dialog-content>
  <mat-card style="max-width: 400px; margin-bottom: 8px;" appearance="outlined">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ data.title }}</mat-card-title>
        <mat-card-subtitle>{{ data.price }} $</mat-card-subtitle>
        <img mat-card-sm-image [src]="data.image" alt="{{ data.title }}">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      {{ data.description }}
    </mat-card-content>
    <mat-card-footer style="padding: 16px;">
      <mat-chip-set aria-label="Chihuahua traits">
        <mat-chip>{{ data.category }}</mat-chip>
        <mat-chip>Rating : {{ data.rating.rate }}</mat-chip>
        <mat-chip>Count : {{ data.rating.count }}</mat-chip>
      </mat-chip-set>
    </mat-card-footer>
  </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()">Close</button>
</mat-dialog-actions>
